*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--white-color);
  color: var(--textcolor);
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ececec;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-no-padding-top {
  padding-top: 0;
}

.section-no-padding-bottom {
  padding-bottom: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.footer-adress-margin {
  margin-top: 20px;
}

.footer-background {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  color: #ffffff;
}

.footer-logo-web {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (max-width: 767px) {
  .footer-logo-link {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo-link {
    text-align: center;
  }
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .footer-adress {
    text-align: center;
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress {
    text-align: center;
    display: block;
  }
}

.footer-item {
  margin-top: 9px;
}
@media screen and (max-width: 767px) {
  .footer-item {
    justify-content: center;
  }
}

.footer-item:first-child {
  margin-top: 0px;
}

.footer-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .footer-link {
    text-align: center;
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-link {
    text-align: center;
    display: block;
  }
}

.footer-follow-block {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer-follow-block {
    margin-top: 60px;
    margin-bottom: 60px;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 480px;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-follow-block {
    margin-right: 117px;
  }
}

.footer-follow-us-icons {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .footer-list-icons {
    justify-content: center;
  }
}

.footer-list-icons-item {
  margin-right: 10px;
}

.footer-list-icons-item:last-child {
  margin-right: 0px;
}

.footer-list-icons {
  margin: 20px 0 0 0;
}

.footer-button-icons-follow {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-icons-follow:hover {
  background: #2196f3;
  fill: #ffffff;
}

.follow-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .follow-text {
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .follow-text {
    text-align: center;
    display: block;
  }
}

.button-telegram {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  justify-content: center;
  margin-left: 12px;
}
@media screen and (max-width: 767px) {
  .button-telegram {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-telegram {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.button-telegram:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.svg-telegram {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.mail-input {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  height: 50px;
  padding: 15px 16px;
  color: #ffffff;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .mail-input {
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-input {
    width: 358px;
  }
}

.footer-follow-telegram {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer-follow-telegram {
    padding: 0 15px;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-follow-telegram {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-box {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer-box {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-box {
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 480px;
    align-items: center;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contact-box {
    margin-left: 117px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-list {
    width: 100%;
  }
}

.footer-follow-telegram-box {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer-follow-telegram-box {
    max-width: 480px;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 480px;
    align-items: stretch;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-follow-telegram-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 102px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu__link {
  margin-right: 93px;
  padding: 24px 0 24px 0;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .nav-menu__link {
    margin: 0;
    padding: 16px 0;
  }
}

.nav-menu__logo--part2 {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .nav-menu__logo--part2 {
    font-size: 24px;
    line-height: 28px;
  }
}

.nav-menu__logo--part1 {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
@media screen and (max-width: 767px) {
  .nav-menu__logo--part1 {
    font-size: 24px;
    line-height: 28px;
  }
}

.nav-list {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-list__element {
  display: flex;
  align-items: baseline;
  margin-left: 50px;
  text-decoration: none;
  color: #212121;
}

.no-margin-left {
  margin-left: 0;
}

.nav-list__link:hover {
  color: #2196f3;
}

.nav-list__link {
  padding: 34px 0px;
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  align-items: baseline;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    display: block;
  }
}

.header-contacts__item {
  display: flex;
  align-items: baseline;
  margin-left: 50px;
  text-decoration: none;
  color: #212121;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item {
    margin-bottom: 10px;
  }
  .header-contacts__item:last-child {
    margin-bottom: 0;
  }
}

.header-contacts__mail {
  align-items: center;
  padding: 30px 0;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__mail {
    padding: 0;
  }
}

.header-contacts__mail:hover {
  color: #2196f3;
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 15px;
  height: 15px;
}

.header-contacts__phone {
  align-items: center;
  display: flex;
  padding: 30px 0;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__phone {
    padding: 0;
  }
}

.header-contacts__phone:hover {
  color: #2196f3;
}

.phone-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 15px;
  height: 15px;
}

.nav-list__link--active {
  color: #2196f3;
}

.nav-list__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  max-width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.nav-modal {
  background-color: white;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 48px 40px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.nav-root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
}

.nav-root__li:nth-child(1n+2) {
  margin-top: 32px;
}

.nav-root__item {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-root__item:hover {
  color: #2196f3;
}

.nav-modal-contact {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: auto;
}

.nav-modal-contact__li:nth-child(1n+2) {
  margin-top: 32px;
}

.nav-modal-contact__item {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-modal-contact__item:hover {
  color: #2196f3;
}

.nav-follov {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  margin-top: 64px;
}

.nav-follov__item {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-follov__item--stick {
  color: #757575;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-modal__button {
  border: none;
  background: none;
  position: absolute;
  top: 7px;
  right: 0px;
}
.nav-modal__button:hover {
  fill: #2196f3;
}

.nav-menu__button {
  right: 0px;
  position: absolute;
  border: none;
  background: none;
}
@media screen and (max-width: 767px) {
  .nav-menu__button:hover {
    fill: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .nav-menu__button {
    display: none;
  }
}

.nav-menu__svg {
  width: 40px;
  height: 40px;
}

.position {
  position: relative;
}

.nav-menu__svg--close {
  display: none;
}
.nav-menu__svg--close:hover {
  fill: none;
}

.nav-root__item--active {
  color: #2196f3;
}

.hero {
  position: relative;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/Header img.jpg");
    max-width: 480px;
    height: 400px;
  }
}
@media screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/Header img2x.jpg");
    background-size: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/Header img.jpg");
    width: 768px;
    height: 400px;
    background-size: 768px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/Header img2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
  }
}

.hero-text {
  width: 696px;
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hero-text {
    width: 100%;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-text {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    width: 360px;
  }
}

.hero-button {
  border: none;
  margin: 30px auto 0 auto;
  display: block;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.hero__block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-topic {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-block {
  display: flex;
  flex-direction: column;
}

.label-settings {
  display: block;
  margin: 0;
  cursor: pointer;
}

.form-name {
  margin-top: 10px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-name:first-child {
  display: block;
  margin-top: 12px;
}

.input-settings {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  outline: none;
  cursor: pointer;
  resize: none;
}
.input-settings:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  width: 100%;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-settings:focus + .form-svg-settings {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-padding {
  padding: 12px 16px;
}

.input-padding {
  padding: 11px 12px 11px 41px;
}

.form-svg-settings {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 40px;
  left: 13px;
}

.form-div {
  position: relative;
}

.check-text {
  display: flex;
  margin-right: 7px;
  position: relative;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  position: absolute;
  left: -23px;
  top: 0px;
}
.input-check:checked + .check-text::before {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  background-image: url(../images/Vector.svg);
}

.policy {
  text-decoration: none;
  margin-left: 4px;
  color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.policy::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #2196f3;
  bottom: 2px;
}
@media screen and (max-width: 767px) {
  .policy {
    font-size: 12px;
    line-height: 14px;
  }
  .policy::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    border: 1px solid #2196f3;
    bottom: 0px;
  }
}

.submit-button {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 30px auto 0 auto;
  border: none;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.submit-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.policy-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .policy-text {
    font-size: 12px;
    line-height: 14px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms, visibility 1000ms;
}

.modal {
  width: 528px;
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    overflow-y: scroll;
  }
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-button-close:hover {
  fill: #2196f3;
}

.svg-icon-close-button {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .about-us {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us {
    flex-wrap: wrap;
  }
}

.about-us__item {
  width: 270px;
  margin-right: 30px;
}
.about-us__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 0) and (max-width: 479px) {
  .about-us__item {
    width: 100%;
  }
}
@media screen and (min-width: 479px) and (max-width: 767px) {
  .about-us__item:nth-child(1n+2) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us__item {
    width: 354px;
    margin: 0;
  }
  .about-us__item:nth-child(1n+3) {
    margin-top: 30px;
  }
  .about-us__item:nth-child(2n+2) {
    margin-left: 30px;
  }
}

.about-us-svg-container__svg {
  width: 70px;
  height: 70px;
}

.about-us-svg-container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 0) and (max-width: 479px) {
  .about-us-svg-container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-us-svg-container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us-svg-container {
    width: 354px;
  }
}

.about-us__head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 0) and (max-width: 479px) {
  .about-us__head {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-us__head {
    text-align: center;
    width: 450px;
  }
}

.about-us__text {
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 0) and (max-width: 479px) {
  .about-us__text {
    width: 100%;
  }
}
@media screen and (min-width: 479px) and (max-width: 767px) {
  .about-us__text {
    width: 450px;
    margin-bottom: 30px;
  }
  .about-us__text:last-child {
    margin-bottom: 0;
  }
}

.what-we-do {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.list-settings {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.cards-wdw {
  margin-right: 30px;
}

.wdw-div {
  position: relative;
}

.wdw-description {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .display {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .display {
    display: none;
  }
}

.name-section {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.list-settings {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .list-settings {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-settings {
    display: flex;
    flex-wrap: wrap;
  }
}

.cards {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .cards {
    margin: 0;
    margin-bottom: 30px;
  }
  .cards:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards {
    margin: 0;
    width: 354px;
  }
  .cards:nth-child(1n+3) {
    margin-top: 30px;
  }
  .cards:nth-child(2n+2) {
    margin-left: 30px;
  }
}

.our-teammate-block {
  padding: 30px 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-teammate-block {
    padding: 24px 74px;
  }
}

.our-teammate-block__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.our-teammate-block__position {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

.our-teammate__follow {
  display: flex;
  margin-top: 16px;
}
@media screen and (min-width: 0px) and (max-width: 479px) {
  .our-teammate__follow {
    justify-content: center;
  }
}
@media screen and (min-width: 479px) and (max-width: 767px) {
  .our-teammate__follow {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.list-icons-item {
  margin-right: 10px;
}
.list-icons-item:last-child {
  margin-right: 0px;
}

.button-icons-follow {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: none;
  fill: #afb1b8;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-icons-follow:hover {
  background: #2196f3;
  fill: #ffffff;
}

.follow-us-icons {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.our-team-background {
  background: #f5f4fa;
}

@media screen and (min-width: 0) and (max-width: 479px) {
  .cards__img {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .cards__img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards__img {
    width: 354px;
    height: 374px;
  }
}

.name-section {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .name-section {
    margin-bottom: 15px;
  }
}

.client-list {
  margin-right: 30px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .client-list {
    margin-right: 0;
    padding: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list {
    margin: 0%;
  }
  .client-list:nth-child(1n+4) {
    margin-top: 30px;
  }
  .client-list:nth-child(3n+3) {
    margin-left: 30px;
  }
  .client-list:nth-child(3n+2) {
    margin-left: 30px;
  }
}

.client-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__button:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.client-list__logo {
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .client-list__logo {
    display: flex;
    max-width: 100%;
    max-height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list__logo {
    width: 224px;
    height: 86px;
  }
}

.client {
  display: flex;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .client {
    display: grid;
    max-width: 480px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    flex-wrap: wrap;
  }
}

.container--fix {
  padding: 0;
}

.filtres-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .filtres-list {
    flex-wrap: wrap;
    justify-content: normal;
  }
}

.filtres-list__item {
  margin-right: 8px;
}
.filtres-list__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 0) and (max-width: 399px) {
  .filtres-list__item:nth-child(1n+3) {
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .filtres-list__item:nth-child(1n+4) {
    margin-top: 15px;
  }
}

.filtres-list__button {
  padding: 6px 22px;
  display: block;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtres-list__button:hover {
  color: #ffffff;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.projects-list {
  margin-top: 50px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 0px) and (max-width: 479px) {
  .projects-list {
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list {
    flex-wrap: wrap;
    margin-top: -20px;
  }
}

.projects-list__card {
  margin-top: 30px;
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .projects-list__card {
    margin: 0;
  }
  .projects-list__card:nth-child(1n+2) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list__card {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .projects-list__card:nth-child(1n+3) {
    margin-top: 30px;
  }
  .projects-list__card:nth-child(2n+2) {
    margin-left: 30px;
  }
}

.projects-list__card:nth-child(3n+3) {
  margin-right: 0;
}

.projects-list__card:hover .slider__text {
  transform: translateY(0%);
}

.projects-list__link {
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.section-no-padding-top {
  padding-top: 0;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__text {
  position: absolute;
  height: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms linear;
  padding: 63px 24px;
}

.project-cards:hover .slider__text {
  transform: translateY(0%);
}

.project-description {
  padding: 20px 24px 20px 24px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-description {
    max-width: 354px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}

.project-description__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.project-description__type {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.project-label {
  max-width: 370px;
}
@media screen and (max-width: 479px) {
  .project-label {
    max-width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .project-label {
    max-width: 450px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-label {
    max-width: 354px;
  }
}/*# sourceMappingURL=main.css.map */