$text-color: #212121;
$active-element: #2196f3;
$footer-background-color: #2f303a;
$grey-color: #757575;
$white-color: #ffffff;
$background-white-grey: #f5f4fa;
$hero-background-color: #2f303a;
$icon-color: #afb1b8;
$footer-button-background-color: rgba(255, 255, 255, 0.1);